
body {
  background-color: #F5EFED;
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
}

#main-content {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

a {
  text-decoration: underline;
  font-style: italic;
  color: #333;
}

span.on {
  display: inline;
}

span.off {
  display: none;
}

.modal-dialog {
  width: 60%;
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    background-color: #F5EFED;
}
